.pagination ul {
  display: flex;
  list-style: none;
}

.pagination .demo1 {
  background-color: #fff;
  margin: 20px 0;
  padding: 10px;
}

.pagination li {
  height: 30px;
  width: 30px;
  /* background-color: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.pagination li:hover {
  background-color: #ccc;
}

/* .pagination li: */

.pagination li.active {
  border: 3px solid black;
  color: blue;
}